/*
 * TEASER SIMPLE
 */
.ce_dse_teasersimple {
    overflow: visible !important;
}
.ce_dse_teasersimple .inside {
    position: relative;
    overflow: visible;
}

.ce_dse_teasersimple .inside:before,
.ce_dse_teasersimple .inside:after {
    content: "";
    display: table;
    clear: both;
}

.ce_dse_teasersimple > .inside {
    padding: 40px 5px;
}

.ce_dse_teasersimple .orange {
    background-color: #FF4D00;
}

.ce_dse_teasersimple .lightgrey {
    background-color: #D3D3D3;
}

.ce_dse_teasersimple .white {
    background-color: #FFFFFF;
}

.ce_dse_teasersimple .anthracite {
    background-color: #373F43;
}

.ce_dse_teasersimple .background_image {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ce_dse_teasersimple .teaser_image {
    max-width: 320px;
}

.ce_dse_teasersimple .teaser_image {
    position: absolute;
    left: 25px;
    bottom: -25px;
}

.ce_dse_teasersimple .teaser {
    float: right;
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
}

.ce_dse_teasersimple .teaser .ce_headline {
    text-align: left;
}

.ce_dse_teasersimple .teaser .ce_headline:before {
    left: 0;
    margin-left: 0;
}

.ce_dse_teasersimple a {
    color: #000000;
}

.ce_dse_teasersimple .anthracite a {
    color: #FFFFFF;
}

.ce_dse_teasersimple .cta {
    border: 1px solid #373F43;
    display: table-cell;
}

.ce_dse_teasersimple .anthracite .cta {
    background: 0 0;
    border: 1px solid #FFF;
}

.ce_dse_teasersimple .cta a {
    display: block;
    padding: 1em 3em;
    text-decoration: none;
    font-weight: bold;
    vertical-align: middle;
}

.ce_dse_teasersimple .cta:hover {
    background-color: #373F43;
    border: 1px solid #FFF;
}

.ce_dse_teasersimple .cta:hover a {
    color: #FFF;
}

.ce_dse_teasersimple .anthracite .cta:hover {
    background-color: #FFF;
    border: 1px solid #FFF;
}

.ce_dse_teasersimple .anthracite .cta:hover a {
    color: #373F43;
}
